<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <table border="1" cellpadding="10">
            <tr>
                <td>Name</td>
                <td><input type="text"  name="txt_name" id=""></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" name="txt_contact" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" name="txt_email" id=""></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>Male<input type="radio" name="txt_gender" id="" value="Male">
                female<input type="radio" name="txt_gender" id="" value="Female"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" name="txt_address" id=""></td>
            </tr>
           
            <tr>
                <td>Place</td>
                <td><select name="txt_place" id="">
                    <option value="">..select..</option>
                    {% for i in Pdata %}
                    <option value="{{i.id}}">{{i.place_name}}</option>
                    {% endfor %}
                </select></td>
            </tr>
            <tr>
                <td>Photo</td>
                <td><input type="file" name="txt_photo" id=""></td>
            </tr>
           
            <tr>
                <td>Password</td>
                <td><input type="password" name="txt_password" id=""></td>
            </tr>
            <tr>
                <td><input type="submit" name="txt_submit" value="submit">
                    <input type="reset" name="txt_cancel" value="cancel">
                </td>
                
                  </tr>
                </table>
    </form>
    
</body>
</html>






