<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
          <table border="1" align="center" cellpadding="10">
            <tr>
                <td>Current password</td>
                <td><input type="password" name="txt_currentpassword" id=""></td>
            </tr>
            <tr>
                <td>NewPassword</td>
                <td><input type="password" name="txt_newpassword" id=""></td>
            </tr>
            <tr>
                <td>Confirm Password</td>
                <td><input type="password" name="txt_confirmpassword" id=""></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="change"
                    colspan="2" align="center"><input type="reset" value="cancel"></td>
                
            </tr>
          </table>


    </form>
</body>
</html>
{% if msg %}
<script>
    alert("{{msg}}")
</script>
{% endif %}