<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" cellpadding="5" align="center">
        <tr>
            <td>#</td>
            <td>Shop</td>
            <td>Date</td>
            <td>Time</td>
            <td>Count</td>
            <td>Location</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.shop.shop_name}}</td>
            <td>{{i.booking_fordate}}</td>
            <td>{{i.booking_fortime}}</td>
            <td>{{i.booking_count}}</td>
            <td>{{i.shop.street.street_name}}, {{i.shop.street.place.place_name}}</td>
            <td>
                {% if i.booking_status == 0 %}
                Booking Confirmation Pending
                {% elif i.booking_status == 1 %}
                Booking Confirmed.<br>
                Booking Charges : 150.Rs
                {% elif i.booking_status == 2 %}
                Booking Rejected
                {% elif i.booking_status == 3 %}
                Payment Completed
                {% endif %}
            </td>
            <td>
                {% if i.booking_status == 1 %}
                <a href="{% url 'webuser:Payment' i.id %}">Make Payment</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>        
</body>
</html>