<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" cellpadding="5" align="center">
        <tr>
            <td>#</td>
            <td>Shop</td>
            <td>Date</td>
            <td>Time</td>
            <td>Count</td>
            <td>Location</td>
            <td>Status</td>
            <td>Action</td>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.shop.shop_name}}</td>
            <td>{{i.booking_fordate}}</td>
            <td>{{i.booking_fortime}}</td>
            <td>{{i.booking_count}}</td>
            <td>{{i.shop.street.street_name}}, {{i.shop.street.place.place_name}}</td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>        
</body>
</html>